@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Playpen+Sans:wght@800&display=swap');
* {
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	font-family: 'Dhurjati', sans-serif;
}

header {
	background-color: gray;
	background: rgb(120,120,120);
	background: radial-gradient(circle, rgba(120,120,120,1) 0%, rgba(40,40,40,1) 100%);
	text-align: center;
}

#headerLogo {
	display: inline;
	width: 75px;
}

#headerTitle {
	display: inline;
	font-size: 50px;
}

#mainMenu {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#mainMenu > ul > li {
	display: inline-block;
}

#mainMenu > ul > li > a {
	padding: 15px;
	text-decoration: none;
	color: white;
}

#mainMenu > ul > li > a:hover {
	background-color: white;
	color: black;
}

/* Button that displays the hover menu */
#hMenu {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Button that displays the hover menu, styles during hover */
#hMenu:hover {
	color: black;
	background-color: white;
	color: black;
}

/* Hides the hover menu from view until #hMenu is hovered upon */
#hoverMenu {
	display: none;
}

/* Displays the hover menu when #hMenu is hovered upon */
#hMenu:hover > #hoverMenu {
	display: grid;
	position: absolute;
}

/* Styles the links within the hover menu */
#hMenu > ul > li > a{
	text-decoration: none;
	color: white;
}

/* Styles the links within the hover menu */
li > ul > li {
	display: block;
	background-color: gray;
	width: inherit;
}

/* Styles the links within the hover menu */
li > ul > li:hover {
	background-color: white;
}

.404main {
	padding: 5000px;
}

#div1 {
	text-align: center;
	background-color: blue;
	padding: 25px;
}

#div1 > ul {
	text-align: center;
	display: inline-block;
	width: 10%;
}

#div2 {
	background-color: teal;
	padding: 25px;
}

#div3 {
	text-align: center;
	background-color: blue;
	padding: 25px;
}

#plans {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	padding-top: 10px;
	padding-bottom: 10px;
}

tr:nth-child(odd) {
	background-color: white;
}

tr:nth-child(even) {
	background-color: gray;
	color: white;
}
